@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Coolvetica';
  src: url('../imports/fonts/coolvetica-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Andale Mono MT';
  src: url('../imports/fonts/andale-mono-mt-std.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Cyrillic';
  src: url('../imports/fonts/futura-cyrillic-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
